attrs==25.1.0 ; python_version >= "3.11"
backports-datetime-fromisoformat==2.0.3 ; python_full_version == "3.11.0"
certifi==2024.12.14 ; python_version >= "3.11"
charset-normalizer==3.4.1 ; python_version >= "3.11"
click==8.3.1 ; python_version >= "3.11"
colorama==0.4.6 ; python_version >= "3.11" and platform_system == "Windows"
fsspec==2024.12.0 ; python_version >= "3.11"
greenlet==3.1.1 ; python_version < "3.14" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version >= "3.11"
idna==3.10 ; python_version >= "3.11"
importlib-metadata==8.6.1 ; python_version == "3.11"
inflection==0.5.1 ; python_version >= "3.11"
joblib==1.4.2 ; python_version >= "3.11"
jsonpath-ng==1.7.0 ; python_version >= "3.11"
jsonschema-specifications==2024.10.1 ; python_version >= "3.11"
jsonschema==4.23.0 ; python_version >= "3.11"
packaging==24.2 ; python_version >= "3.11"
pathlib-abc==0.5.2 ; python_version >= "3.11"
ply==3.11 ; python_version >= "3.11"
python-backoff==2.3.1 ; python_version >= "3.11"
python-dotenv==1.0.1 ; python_version >= "3.11"
pyyaml==6.0.2 ; python_version >= "3.11"
referencing==0.36.2 ; python_version >= "3.11"
requests==2.32.2 ; python_version >= "3.11"
rpds-py==0.22.3 ; python_version >= "3.11"
simpleeval==1.0.3 ; python_version >= "3.11"
simplejson==3.19.3 ; python_version >= "3.11"
singer-sdk==0.53.5 ; python_version >= "3.11"
sqlalchemy==2.0.37 ; python_version >= "3.11"
typing-extensions==4.12.2 ; python_version >= "3.11"
universal-pathlib==0.3.8 ; python_version >= "3.11"
urllib3==2.3.0 ; python_version >= "3.11"
zipp==3.21.0 ; python_version == "3.11"
