### A CI workflow template that runs linting and python testing

name: Test tap-hubspot


on:
  push:
    branches: [ main ]
    paths:
    - .github/workflows/ci_workflow.yml
    - .github/workflows/constraints.txt
    - tap_hubspot/**
    - pyproject.toml
    - poetry.lock
    - tox.ini
  pull_request:
    branches: [ main ]
    paths:
    - .github/workflows/ci_workflow.yml
    - .github/workflows/constraints.txt
    - tap_hubspot/**
    - pyproject.toml
    - poetry.lock
    - tox.ini
  workflow_dispatch:

env:
  FORCE_COLOR: 1

jobs:
  linting:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Only lint using the primary version used for dev
        python-version: [3.13]

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
    - env:
        UV_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
        UV_PYTHON: ${{ matrix.python-version }}
      run: |
        uv tool install poetry
        uvx tox -e lint

  pytest:

    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
    strategy:
      max-parallel: 2
      matrix:
        python-version:
        - "3.14"
        - "3.13"
        - "3.12"
        - "3.11"
        - "3.10"

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      id: setup-python
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
    - name: Test with pytest
      id: test_pytest
      continue-on-error: false
      env:
        TAP_HUBSPOT_ACCESS_TOKEN: ${{secrets.TAP_HUBSPOT_ACCESS_TOKEN}}
        UV_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
        UV_PYTHON: ${{ steps.setup-python.outputs.python-path }}
      run: |
        uv tool install poetry
        poetry install
        poetry run pytest --capture=no
