### A CI workflow template that runs linting and python testing

name: Test tap-hubspot


on:
  push:
    branches: [ main ]
    paths:
    - .github/workflows/ci_workflow.yml
    - .github/workflows/constraints.txt
    - tap_hubspot/**
    - pyproject.toml
    - poetry.lock
    - tox.ini
  pull_request:
    branches: [ main ]
    paths:
    - .github/workflows/ci_workflow.yml
    - .github/workflows/constraints.txt
    - tap_hubspot/**
    - pyproject.toml
    - poetry.lock
    - tox.ini
  workflow_dispatch:

env:
  FORCE_COLOR: 1

jobs:
  linting:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Only lint using the primary version used for dev
        python-version: [3.13]

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
    - env:
        UV_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
        UV_PYTHON: ${{ matrix.python-version }}
      run: |
        uv tool install poetry
        uvx tox -e lint

  pytest:

    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
    strategy:
      max-parallel: 2
      matrix:
        python-version:
        - "3.14"
        - "3.13"
        - "3.12"
        - "3.11"
        - "3.10"

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      id: setup-python
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
    - name: Test with pytest
      id: test_pytest
      continue-on-error: false
      env:
        TAP_HUBSPOT_ACCESS_TOKEN: ${{secrets.TAP_HUBSPOT_ACCESS_TOKEN}}
        UV_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
        UV_PYTHON: ${{ steps.setup-python.outputs.python-path }}
      run: |
        uv tool install poetry
        poetry install
        poetry run pytest --capture=no
